*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-link
{

}
.navbar
{
    width: 100%;
    background-image: linear-gradient(to right, #8856af, #5450cd);
    padding: 0 !important;
}
.navbar-brand
{
    width: 30px;  /* Ensure equal width and height */
    height: 30px;
    border-radius: 50%;  /* Fully round the container */
    overflow: hidden;  /* Make sure the overflow is hidden */
    display: flex;  /* Center the image */
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.navbar-brand img
{
    height: 40px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #000000 !important;
    font-weight: 600;
    float: right;
    text-align: right;
}
.fa-bars
{
    color: #ffffff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}
/*----------banner section----------*/
#banner {
    background-color: #4956aa;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
}
.promo-title
{
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    margin-bottom: 20px;
}
.play-btn
{
    width: 200px;
    margin: 10px;
}
.img-fluid
{
    width: 500px;
    margin: 10px;
}
#banner a
{
    color: #4956aa;
    text-decoration: none;
}
.bottom-img
{
    width: 100%;
}
/*------------menu section-------------*/
#services
{
    background-color: #4956aa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.services {
    margin-bottom: 20px;
}
.services h4
{
    padding-top: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.services p {
    margin: 10px 0;
    text-align: center;
}
.title {
    position: relative;
    text-align: center;
}

.title::before {
    content: '';
    background: #2a3478;
    height: 5px;
    width: 500px;
    display: block;
    margin: 0 auto;
    transform: translateY(63px);
}

#services .btn-primary
{
    margin-left: auto;
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;

}
/* ------Profile Section------ */

#profile {
    background-color: #5450cd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child items horizontally */
    justify-content: center; /* Center child items vertically */
    padding: 10px;
}

.col-md-6
{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center textarea vertically */
    align-items: center; /* Center horizontally */
    width: 100%;
}

.about-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    text-align: center; /* Center the title */
}

.img-fluid {
    margin-top: 50px;
}

textarea
{
    background: #7672ed;
    white-space: pre-wrap;
}

/*---Settings Section---*/
#contact
{
    background-color: #4956aa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.contact
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact img
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
}
.contact p
{
    text-align: center;
}

